@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@*<h1 class="text-danger">Error.@Model.Exception.Message</h1>*@

@Html.ActionLink("Back", @Model.ActionName, @Model.ControllerName, new {@type="button",@class="btn btn-primary"})