@{
    ViewBag.Title = "CONTACT";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address class="jumbotron">
    Vrindavan Colony, Aliganj<br />
    Lucknow, Uttar Pradesh<br />
    <abbr title="Phone">Mob:</abbr>
    8787260520
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Spgupta822@gmail.com">Spgupta822@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:shubham.18353@knit.ac.in">shubham.18353@knit.ac.in</a>
</address>