@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Employee Management System</h1>
    <p class="lead">Employee Management System is a free software developed for any organisation to manage their Employee Data.</p>
    <p><a href="https://github.com/shubham18353" class="btn btn-primary btn-lg">Learn more about Developer &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Employee management system or EMS is a tool that helps improve employee satisfaction and productivity to help a company achieve their overall goals. These tools help monitor, assess and control employees' working hours and efficiently utilise human resources.
        </p>
        <p><a class="btn btn-primary" href="https://www.zoho.com/people/hrknowledgehive/What-are-the-advantages-of-an-employee-management-system.html">Learn more from Zoho &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get your work done easily with EMS</h2>
        <p>EMS is a free Visual Studio project that makes it easy to add, remove, and update Employees and Departments in your Organisation.</p>
        <p><a class="btn btn-primary" href="https://github.com/shubham18353/ConsoleApp1">Demo EMS Code &raquo;</a></p>
    </div>
    
</div>